body{
    background: black;
}
.class1{
    background-color: white;
    display: inline-block;
    margin: 200px 450px;
    text-align: center;
    padding: 30px;
}

h1{
    color: aqua;
}